<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>deploy\DeviceEmulator.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="eventHubConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Endpoint=sb://iothub-ns-tswiot-623489-9a13e2750e.servicebus.windows.net/;SharedAccessKeyName=iothubowner;SharedAccessKey=jFTN09fGs7jyNQ8D16H+WokJXE1zHJB6djlPdzJa27M=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\eventHubConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Endpoint=sb://iothub-ns-tswiot-623489-9a13e2750e.servicebus.windows.net/;SharedAccessKeyName=iothubowner;SharedAccessKey=jFTN09fGs7jyNQ8D16H+WokJXE1zHJB6djlPdzJa27M=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="iotHubConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="HostName=tswiot.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=jFTN09fGs7jyNQ8D16H+WokJXE1zHJB6djlPdzJa27M=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\iotHubConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="HostName=tswiot.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=jFTN09fGs7jyNQ8D16H+WokJXE1zHJB6djlPdzJa27M=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="eventHubStorage" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=tswstowit;AccountKey=AnvV61gUCrU2pLG+WLFgvcGLgPzIX3nkLXIKwRlFPfCGZq7zBMhEr1gmHeMfAENie1drgHymUe3xXpFTtb0XHw==;EndpointSuffix=core.windows.net" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\eventHubStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=tswstowit;AccountKey=AnvV61gUCrU2pLG+WLFgvcGLgPzIX3nkLXIKwRlFPfCGZq7zBMhEr1gmHeMfAENie1drgHymUe3xXpFTtb0XHw==;EndpointSuffix=core.windows.net" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)eventHubConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)eventHubStorage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)iotHubConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>