@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Internet of Things Test Page</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Connection Information</h2>
        <p>
            Enter the connection strings for the IoT Hub and the default endpoint here.
        </p>
        <div class="form-group">
            <label for="hubConnect">IoT Hub Connection String</label>
            <input type="text" class="form-control" id="hubConnect" placeholder="Enter IoT Hub connection string">
            <small id="iotConnectHelp" class="form-text text-muted">You can find this under Shared access policies. </small>
        </div>
        <div class="form-group">
            <label for="eventHubConnect">Event Hub Connection String</label>
            <input type="text" class="form-control" id="eventHubConnect" placeholder="Enter connection string">
            <small id="ehubConnectHelp" class="form-text text-muted">You can find this under Endpoints. </small>

        </div>

        <div class="form-group">
            <label for="methodName">Device Method Name</label>
            <input type="text" class="form-control" id="d3Connect" placeholder="Enter connection string">
        </div>

    </div>
    <div class="col-md-4">
        <h2>Tests</h2>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="telemtry">Collect Telemetry</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="messageToDevice">Send Message to Device</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="deviceTwin">Set the Device Twin</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="streamAnalytics">Use Stream Analytics</button>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Results</h2>
        <div id="results">
        </div>
    </div>
    @section scripts {

        <script src="~/Scripts/Tests.js"></script>
    }
</div>