@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Internet of Things Test Page</h2>

</div>

<div class="row">
    <div class="col-md-4">
        <h3>Connection Information</h3>
        <p>
            Enter the connection strings for the IoT Hub and the default endpoint here.
        </p>
        <div class="form-group">
            <label for="hubConnect">IoT Hub Connection String</label>
            <input type="text" class="form-control" id="hubConnect" placeholder="Enter IoT Hub connection string">
            <small id="iotConnectHelp" class="form-text text-muted">You can find this under Shared access policies. </small>
        </div>
        <div class="form-group">
            <label for="eventHubConnect">Event Hub Connection String</label>
            <input type="text" class="form-control" id="eventHubConnect" placeholder="Enter connection string">
            <small id="ehubConnectHelp" class="form-text text-muted">You can find this under Endpoints. </small>

        </div>

    </div>
    <div class="col-md-4">
        <h3>Tests</h3>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="sendTelemtry">Emulate Devices</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="verifyTelemtry">Verify Device Data Capture</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="messageToDevice">Send Message to Device</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="deviceTwin">Set the Device Twin</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="streamAnalytics">Verify Stream Analytics</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="consumerGroup">Verify Consumer Groups</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="cosmosDB">Retrieve CosmosDB Data</button>
        </div>
    </div>
    <div class="col-md-4">
        <h3>Results</h3>
        <div id="currentTest">

        </div>
        <div id="results">
        </div>
    </div>
    @section scripts {

    <script src="~/js/Tests.js"></script>

    }
</div>